force-app/main/default/flows/Account_Contact_Counter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Contact_Count_Action</name>
        <label>Contact Count Action</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ContactCounter</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Screen_1</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contacts</name>
            <value>
                <elementReference>contacts</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ContactCounter</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>contactCounts</assignToReference>
            <name>contactCounts</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Selected_Rows_assignment</name>
        <label>Selected Rows</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>contactCounts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>dt.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Records_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_State_List</name>
        <label>Set State List</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>stateList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ACT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stateList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NSW</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stateList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>VIC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stateList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>NT</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stateList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>QLD</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stateList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>WA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>stateList</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>TAS</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Has_Contacts</name>
        <label>Has Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no contacts</defaultConnectorLabel>
        <rules>
            <name>has_Contacts_outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>contacts</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Contact_Count_Action</targetReference>
            </connector>
            <label>has Contacts</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Account Contact Counter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account Contact Counter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Records_1</name>
        <label>Create Records 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <doesUpsert>true</doesUpsert>
        <faultConnector>
            <targetReference>rollback</targetReference>
        </faultConnector>
        <inputReference>contactCounts</inputReference>
        <upsertExternalIdField>UID__c</upsertExternalIdField>
    </recordCreates>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Has_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Department</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>Department</field>
            <operator>In</operator>
            <value>
                <elementReference>stateList</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>contacts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Type__c</queriedFields>
        <queriedFields>Department</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <sortField>Type__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordRollbacks>
        <name>rollback</name>
        <label>rollback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>error_screen</targetReference>
        </connector>
    </recordRollbacks>
    <screens>
        <name>error_screen</name>
        <label>Error Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>error_screen_text</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Contacts</name>
        <label>No Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>no_contacts_text</name>
            <fieldText>&lt;p&gt;No Contacts Found!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Selected_Rows_assignment</targetReference>
        </connector>
        <fields>
            <name>dt</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact_Count__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>contactCounts</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Type__c&quot;,&quot;guid&quot;:&quot;column-fbda&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;State__c&quot;,&quot;guid&quot;:&quot;column-de48&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;State&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Number_of_Contacts__c&quot;,&quot;guid&quot;:&quot;column-08c9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Number of Contacts&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isShowSearchBar</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_State_List</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>contactCounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact_Count__c</objectType>
    </variables>
    <variables>
        <name>contacts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>stateList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
